.CharacterPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.separator {
  flex: 1;
}

.buttonContainer {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.characterContainer {
  flex: 3;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 48pt;
}
