.SelectMode {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.selectCard {
  max-width: 300px;
  max-height: 300px;
  min-width: 100px;
  min-height: 100px;
  width: 30vw;
  height: 30vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selectCard .character {
  font-size: 48pt;
}
